.App {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #929292;
  opacity: 1;
  background: linear-gradient(135deg, #38383855 25%, transparent 25%) -36px 0/ 72px 72px, linear-gradient(225deg, #383838 25%, transparent 25%) -36px 0/ 72px 72px, linear-gradient(315deg, #38383855 25%, transparent 25%) 0px 0/ 72px 72px, linear-gradient(45deg, #383838 25%, #929292 25%) 0px 0/ 72px 72px;
}

h1.mainTitle{
  font-size: 5vh;
  color: #494949;
  text-shadow:
   -2px -2px 0 #ffffff, 
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
     2px 2px 0 #ffffff;
  margin-top: 10vh;
  margin-left:auto;
  margin-right:auto;
  width: fit-content ;
}

h2.mainSubtitle{
  font-size: 2.5vh;
  color: #494949;
  text-shadow:
   -2px -2px 0 #ffffff, 
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
     2px 2px 0 #ffffff;
  margin-top: 3vh;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 2vh;
  width: fit-content;
}

h3.serviceTitle {
  align-items: center;
  color: #383838;
  fill: currentcolor;
  font-family: Roboto;
  font-size: 2vmin;
  justify-content: center;
  letter-spacing: .25px;
  max-width: fit-content;
  position: relative;
  text-align: center;
  width: auto;
  margin: auto;
  margin-top: 3vh;
  padding-left: 10px;
  padding-right: 10px;
}

h3.serviceSubtitle{
  align-items: center;
  color: #383838;
  display: flex;
  fill: currentcolor;
  font-family: Roboto;
  font-size: 2vh;
  font-weight: lighter;
  justify-content: center;
  letter-spacing: .25px;
  width: fit-content;
  position: relative;
  text-align: center;
  width: fit-content;
  margin: -20px auto 0 auto;
}

.Services{
  display: flex;
  flex-wrap: wrap;

  margin-left:auto;
  margin-right:auto;
  width: 75vh;
}

.Service{
  background-color: #adadad;
  margin-bottom:10vh;
  cursor: pointer;
  line-height: 5vmin;
  text-align: center;
  margin: auto;
  margin-top: 1vh;
  border-radius: 20px;
  border: #494949 4px solid;
}

.Service h3.mainTitle {
  font-weight: bold;
}