.App {
  position:absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #929292;
  opacity: 1;
  background: linear-gradient(135deg, #38383855 25%, transparent 25%) -36px 0/ 72px 72px, linear-gradient(225deg, #383838 25%, transparent 25%) -36px 0/ 72px 72px, linear-gradient(315deg, #38383855 25%, transparent 25%) 0px 0/ 72px 72px, linear-gradient(45deg, #383838 25%, #929292 25%) 0px 0/ 72px 72px;
}

h1.mainTitle{
  color: #494949;
  text-shadow:
   -2px -2px 0 #ffffff, 
    2px -2px 0 #ffffff,
    -2px 2px 0 #ffffff,
     2px 2px 0 #ffffff;
  margin-top: 10vh;
  margin-left:auto;
  margin-right:auto;
  width: 50%;
}

h3.serviceTitle {
  align-items: center;
  color: #494949;
  display: flex;
  fill: currentcolor;
  font-family: Roboto;
  font-size: 3vh;
  font-weight: lighter;
  justify-content: center;
  letter-spacing: .25px;
  max-width: fit-content;
  padding: 1px 15px;
  position: relative;
  text-align: center;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  width: auto;
  margin: auto;
  margin-top: 3vh;
  margin-bottom: 2.5vh;
  padding: 10px 10px 10px 10px;
}

.Services{
  margin-left:auto;
  margin-right:auto;
  margin-top: 10vh;
  width: fit-content
}

.Service{
  margin-bottom:10vh;
  cursor: pointer;
  line-height: 5vh;
  text-align: center;
  margin: auto;
  margin-top: 1vh;
  border-radius: 20px;
  border: #494949 4px solid;
}

.Service h3 {
  font-weight: bold;
}

div#EarTrainer{
  background-color: rgb(182, 182, 182);
  background-size:cover;
}

div#EarTrainer h3{
  padding: 2px 8px 2px 8px;
  width:fit-content;
}

div#Settlements{
  background-color: rgb(182, 182, 182);
  background-size: cover;
}

div#Settlements h3{
  padding: 2px 8px 2px 8px;
  width:fit-content;
}
